<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>
<?NLS TYPE="org.eclipse.help.toc"?> 

<!-- ================================================= -->
<!-- This is the plugin for declaring the help         -->
<!-- contributions for the Server Tools component      -->
<!-- ================================================= -->

<plugin>

<extension point="org.eclipse.help.toc">
	<toc file="wtp_main_toc.xml" /> 
	<toc file="wtp_test.xml" /> 
	<toc file="wtp_debug.xml" /> 
	<toc file="wtp_publish.xml" /> 
	<toc file="wtp_create.xml" /> 
	<toc file="wtp_manage.xml" /> 
	<toc file="wtp_pref.xml" /> 
</extension>

</plugin>

