<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.wst.internet.monitor.ui.tests"
   name="org.eclipse.wst.internet.monitor.ui.tests"
   version="1.0.0"
   provider-name="IBM"
   class="org.eclipse.wst.internet.monitor.ui.tests.TestsPlugin">

   <runtime>
      <library name="monitortests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.wst.internet.monitor.core"/>
      <import plugin="org.eclipse.wst.internet.monitor.ui"/>
   </requires>

</plugin>
