<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension
         point="org.eclipse.pde.ui.pluginContent">
      <wizard
            category="WTP"
            class="org.eclipse.jst.server.generic.pde.internal.GenericServerPluginNewWizard"
            icon="icons/obj16/wiz_new_server_plugin.gif"
            id="org.eclipse.jst.server.generic.pde.genericServer"
            java="true"
            name="%template.genericServer.name"
            rcp="false"
            ui-content="true">
         <description>
            %template.genericServer.description
         </description>
            
            </wizard>
   </extension>

</plugin>
