<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

 <extension-point id="serverdefinition" name="%extensionPointServerdefinition" schema="schema/serverdefinition.exsd"/>
 <extension-point id="runtimedefinition" name="%extensionPointRuntimedefinition" schema="schema/runtimedefinition.exsd"/>
 <extension-point id="genericpublisher" name="%extensionPointGenericpublisher" schema="schema/genericpublisher.exsd"/>
	
 <extension point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
        id="org.eclipse.jst.server.generic.core.launchConfigurationType"
        name="%launchConfigurationTypeName"
        delegate="org.eclipse.jst.server.generic.core.internal.GenericServerLaunchConfigurationDelegate"
        modes="run, debug, profile"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
     <launchConfigurationType
        id="org.eclipse.jst.server.generic.core.ExternalLaunchConfigurationType"
        name="%externalLaunchConfigurationTypeName"
        delegate="org.eclipse.jst.server.generic.core.internal.ExternalLaunchConfigurationDelegate"
        modes="run, debug"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jst.server.generic.core.sourcePathComputer"/>
 </extension>

 <extension point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
        id="org.eclipse.jst.server.generic.core.sourcePathComputer"
        class="org.eclipse.jst.server.generic.core.internal.GenericServerSourcePathComputerDelegate"/>
 </extension>
 
 <extension point="org.eclipse.wst.server.core.launchableAdapters">
      <launchableAdapter
         class="org.eclipse.jst.server.generic.core.internal.GenericServerLaunchableAdapterDelegate"
         id="org.eclipse.jst.server.generic.web"/>
 </extension>
 
 <extension point="org.eclipse.jst.server.generic.core.genericpublisher">
      <genericpublisher
            class="org.eclipse.jst.server.generic.core.internal.publishers.AntPublisher"
            id="org.eclipse.jst.server.generic.antpublisher"/>
 </extension>

</plugin>
