<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin id="org.eclipse.wst.server.core"
  name="%pluginName"
  version="1.0.0"
  provider-name="%providerName"
  class="org.eclipse.wst.server.core.internal.ServerPlugin">

  <requires>
    <import plugin="org.eclipse.core.runtime"/>
    <import plugin="org.eclipse.core.resources"/>
    <import plugin="org.eclipse.core.expressions"/>
    <import plugin="org.eclipse.debug.core"/>
  </requires>

  <runtime>
    <library name="servercore.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension-point id="internalStartup" name="%extensionPointServerStartup" schema="schema/startup.exsd"/>
  <extension-point id="moduleTypes" name="%extensionPointModuleTypes" schema="schema/moduleTypes.exsd"/>
  <extension-point id="runtimeTypes" name="%extensionPointRuntimeTypes" schema="schema/runtimeTypes.exsd"/>
  <extension-point id="runtimeTargetHandlers" name="%extensionPointRuntimeTargetHandlers" schema="schema/runtimeTargetHandlers.exsd"/>
  <extension-point id="runtimeLocators" name="%extensionPointRuntimeLocators" schema="schema/runtimeLocators.exsd"/>
  <extension-point id="serverTypes" name="%extensionPointServerTypes" schema="schema/serverTypes.exsd"/>
  <extension-point id="serverLocators" name="%extensionPointServerLocators" schema="schema/serverLocators.exsd"/>
  <extension-point id="moduleFactories" name="%extensionPointModuleFactories" schema="schema/moduleFactories.exsd"/>
  <extension-point id="moduleArtifactAdapters" name="%extensionPointModuleArtifactAdapters" schema="schema/moduleArtifactAdapters.exsd"/>
  <extension-point id="launchableAdapters" name="%extensionPointLaunchableAdapters" schema="schema/launchableAdapters.exsd"/>
  <extension-point id="clients" name="%extensionPointClients" schema="schema/clients.exsd"/>
  <extension-point id="serverTasks" name="%extensionPointServerTasks" schema="schema/serverTasks.exsd"/>
  <extension-point id="internalServerMonitors" name="%extensionPointServerMonitors" schema="schema/serverMonitors.exsd"/>
  
  <extension point="org.eclipse.wst.server.core.moduleTypes">
    <moduleType
       id="*"
       name="%moduleTypeUnknown"/>
  </extension>
</plugin>