<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
       id="org.eclipse.jst.server.preview.runtime"
       name="%previewRuntimeTypeName"
       description="%previewRuntimeTypeDescription"
       class="org.eclipse.jst.server.preview.adapter.internal.core.PreviewRuntime">
       <moduleType
         types="wst.web"
         versions="1.0"/>
       <moduleType
         types="jst.web"
         versions="2.2,2.3,2.4,2.5,3.0,3.1"/>
       <moduleType
         types="jst.utility"
         versions="1.0"/>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.wst.server.core.serverTypes">
     <serverType
       id="org.eclipse.jst.server.preview.server"
       name="%previewServerTypeName"
       description="%previewServerTypeDescription"
       supportsRemoteHosts="false"
       runtime="true"
       initialState="stopped"
       hasConfiguration="false"
       launchModes="run,debug,profile"
       launchConfigId="org.eclipse.jst.server.preview.launchConfigurationType"
       runtimeTypeId="org.eclipse.jst.server.preview.runtime"
       class="org.eclipse.jst.server.preview.adapter.internal.core.PreviewServer"
       behaviourClass="org.eclipse.jst.server.preview.adapter.internal.core.PreviewServerBehaviour"/>
  </extension>

  <extension point="org.eclipse.jst.server.core.runtimeClasspathProviders">
    <runtimeClasspathProvider
      id="org.eclipse.jst.server.preview.runtimeTarget"
      runtimeTypeIds="org.eclipse.jst.server.preview.runtime"
      class="org.eclipse.jst.server.preview.adapter.internal.core.PreviewRuntimeClasspathProvider"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <runtime-component-type
       id="org.eclipse.jst.server.preview.runtime"/>

    <runtime-component-version
       type="org.eclipse.jst.server.preview.runtime"
       version="1.0"/>

    <adapter>
      <runtime-component
         id="org.eclipse.jst.server.preview.runtime"/>
      <factory
         class="org.eclipse.jst.server.core.internal.RuntimeClasspathProvider$Factory"/>
      <type
         class="org.eclipse.jst.common.project.facet.core.IClasspathProvider"/>
    </adapter>

    <supported>
      <runtime-component
         id="org.eclipse.jst.server.preview.runtime"
         version="1.0"/>
      <facet
         id="wst.web"
         version="1.0"/>
      <facet
         id="jst.web"
         version="2.2,2.3,2.4,2.5,3.0,3.1"/>
      <facet
         id="jst.utility"
         version="1.0"/>
    </supported>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.defaultFacets">
    <default-facets>
      <runtime-component id="org.eclipse.jst.server.preview.runtime"/>
      <facet id="wst.jsdt.web" version="1.0"/>
    </default-facets>
  </extension>

  <extension point="org.eclipse.jst.server.core.runtimeFacetMappings">
    <runtimeFacetMapping
      runtimeTypeId="org.eclipse.jst.server.preview.runtime"
      runtime-component="org.eclipse.jst.server.preview.runtime"
      version="1.0"/>
  </extension>

  <extension point="org.eclipse.debug.core.sourcePathComputers">
     <sourcePathComputer
        id="org.eclipse.jst.server.preview.sourcePathComputer"
        class="org.eclipse.jst.server.preview.adapter.internal.core.PreviewSourcePathComputerDelegate"/>
  </extension>

  <extension point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
        id="org.eclipse.jst.server.preview.launchConfigurationType"
        name="%previewLaunchConfigurationType"
        delegate="org.eclipse.jst.server.preview.adapter.internal.core.PreviewLaunchConfigurationDelegate"
        modes="run,debug,profile"
        sourceLocatorId="org.eclipse.jdt.launching.sourceLocator.JavaSourceLookupDirector"
        sourcePathComputerId="org.eclipse.jst.server.preview.sourcePathComputer"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.launchableAdapters">
    <launchableAdapter
      id="org.eclipse.jst.server.preview"
      class="org.eclipse.jst.server.preview.adapter.internal.core.PreviewLaunchableAdapterDelegate"/>
  </extension>

<!--
<extension point="org.eclipse.wst.server.core.internalStartup">
  <startup
    id="org.eclipse.jst.server.core.startup"
    class="org.eclipse.jst.server.core.internal.preview.PreviewStartup"/>
</extension>
-->


  <extension point="org.eclipse.wst.server.ui.serverImages">
     <image
        id="org.eclipse.jst.server.preview"
        typeIds="org.eclipse.jst.server.preview.runtime,org.eclipse.jst.server.preview.server"
        icon="icons/obj16/preview.gif"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image runtime-component-type="org.eclipse.jst.server.preview.runtime"
       path="icons/obj16/preview.gif"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="org.eclipse.jst.server.preview.runtime"/>
      <factory class="org.eclipse.wst.server.ui.FacetRuntimeComponentLabelProvider"/>
      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
    </adapter>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="org.eclipse.jst.server.preview.launchConfigurationTypeImage"
      configTypeID="org.eclipse.jst.server.preview.launchConfigurationType"
      icon="icons/obj16/preview.gif">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.eclipse.jst.server.preview.launchConfigurationTabGroup"
      type="org.eclipse.jst.server.preview.launchConfigurationType"
      class="org.eclipse.jst.server.preview.adapter.internal.ui.PreviewLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>
</plugin>
