<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.server.generic.modules"
   name="J2EE Common Modules Plug-in"
   version="1.0.0"
   provider-name="Eteration"
   class="org.eclipse.jst.server.generic.modules.ModulesPlugin">

   <runtime>
      <library name="commonmodules.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.jst.server.core"/>
   </requires>

   <extension point="org.eclipse.wst.server.core.moduleFactories">
      <moduleFactory
            projects="true"
            class="org.eclipse.jst.server.generic.modules.J2eeSpecModuleFactoryDelegate"
            id="org.eclipse.jst.server.generic.modules.j2eeSpecModules">
       <moduleType
         types="j2ee.web,j2ee.ejb,j2ee.ear"
         versions="1.2,1.3,1.4">
       </moduleType>
      </moduleFactory>
   </extension>

   <extension point="org.eclipse.wst.server.core.moduleObjectAdapters">
      <moduleObjectAdapter
         id="org.eclipse.jst.server.generic.modules.j2eeSpecModuleObjectAdapter"
         class="org.eclipse.jst.server.generic.modules.J2EESpecModuleObjectAdapter"
         objectClass="org.eclipse.core.resources.IResource"/>
   </extension>
</plugin>
