<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.wst.server.core.installableServers">
    <installableServer
      id="org.apache.geronimo.generic.runtime.10"
      featureId="org.apache.geronimo.feature"
      featureVersion="1.2.0"
      featureSite="http://www.apache.org/dist/geronimo/eclipse/updates/"/>
    <installableServer
      id="org.apache.geronimo.generic.runtime.10"
      featureId="com.ibm.websphere.ce.feature"
      featureVersion="1.1.0"
      featureSite="http://download.boulder.ibm.com/ibmdl/pub/software/websphere/wasce/updates/"/>
    <installableServer
      id="com.pramati"
      featureId="com.pramati.eclipse.feature"
      featureVersion="1.0.0"
      featureSite="http://www.pramati.com/downloads/eclipse/updates/"/>
  </extension>
</plugin>