<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin id="org.eclipse.wst.internet.monitor.ui"
  name="%pluginName"
  version="1.0.0"
  provider-name="%providerName"
  class="org.eclipse.wst.internet.monitor.ui.internal.MonitorUIPlugin">

<requires>
  <import plugin="org.eclipse.core.runtime"/>
  <import plugin="org.eclipse.ui.ide"/>
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.wst.internet.monitor.core"/>
</requires>

<runtime>
  <library name="monitorui.jar">
    <export name="*"/>
  </library>
</runtime>

<extension-point name="%extensionPointViewers" id="viewers" schema="schema/viewers.exsd"/>

<extension point="org.eclipse.wst.internet.monitor.core.startups">
  <startup
    id="org.eclipse.wst.internet.monitor.ui"
    class="org.eclipse.wst.internet.monitor.ui.internal.Startup"/>
</extension>

<extension point="org.eclipse.ui.views"> 
  <view
    id="org.eclipse.wst.internet.monitor.view"
    name="%viewTitle"
    category="org.eclipse.debug.ui"
    class="org.eclipse.wst.internet.monitor.ui.internal.view.MonitorView"
    icon="icons/cview16/monitorView.gif">
  </view>
</extension>

<extension point="org.eclipse.ui.preferencePages">
  <page
    id="org.eclipse.wst.internet.monitor.preferencePage"
    name="%preferenceTitle"
    category="org.eclipse.internet"
    class="org.eclipse.wst.internet.monitor.ui.internal.MonitorPreferencePage"/>
</extension>

<extension point="org.eclipse.wst.internet.monitor.ui.viewers">
  <viewer
    id="org.eclipse.wst.internet.monitor.viewers.byteviewer"
    class="org.eclipse.wst.internet.monitor.ui.internal.viewers.ByteViewer"
    type="requestresponse"
    label="%byteView"/>
  <viewer
    id="org.eclipse.wst.internet.monitor.viewers.imageviewer"
    class="org.eclipse.wst.internet.monitor.ui.internal.viewers.ImageViewer"
    type="requestresponse"
    label="%imageView"/>
  <viewer
    id="org.eclipse.wst.internet.monitor.viewers.XMLViewer"
    class="org.eclipse.wst.internet.monitor.ui.internal.viewers.XMLViewer"
    type="requestresponse"
    label="%xmlView"/>
</extension>

<extension point="org.eclipse.core.runtime.adapters">
  <factory
    class="org.eclipse.wst.internet.monitor.ui.internal.RequestAdapterFactory"
    adaptableType="org.eclipse.wst.internet.monitor.core.Request">
    <adapter type="org.eclipse.ui.IActionFilter"/>
  </factory>
</extension>

<extension point="org.eclipse.ui.popupMenus">
    <objectContribution
          objectClass="org.eclipse.wst.internet.monitor.core.Request"
          id="org.eclipse.wst.internet.monitor.ui.modifyaction">
       <filter name="requestsent" value="true"/>
       <action
             label="%actionResend"
             menubarPath="additions"
             class="org.eclipse.wst.internet.monitor.ui.internal.view.ResendMessageAction"
             enablesFor="1"
             id="org.eclipse.wst.internet.monitor.ui.internal.view.ResendMessageAction"
             icon="icons/elcl16/resendRequest.gif">
       </action>
       <action
             label="%actionModify"
             menubarPath="additions"
             class="org.eclipse.wst.internet.monitor.ui.internal.view.ModifyMessageAction"
             enablesFor="1"
             id="org.eclipse.wst.internet.monitor.ui.internal.view.ModifyMessageAction"
             icon="icons/etool16/editRequest.gif">
       </action>
    </objectContribution>
    <objectContribution
          objectClass="org.eclipse.wst.internet.monitor.core.Request"
          id="org.eclipse.wst.internet.monitor.ui.sendmodifyaction">
       <filter name="requestsent" value="false"/>    
       <action
             label="%actionModifyResend"
             menubarPath="additions"
             class="org.eclipse.wst.internet.monitor.ui.internal.view.SendModifiedMessageAction"
             enablesFor="1"
             id="org.eclipse.wst.internet.monitor.ui.internal.view.SendModifiedMessageAction"
             icon="icons/elcl16/resendRequest.gif">
       </action>
    </objectContribution>
</extension>

</plugin>