<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.wst.server.ui.serverImages">
      <image
         id="org.eclipse.jst.server.tomcat.32"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.32"/>
      <image
         id="org.eclipse.jst.server.tomcat.40"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.40"/>
      <image
         id="org.eclipse.jst.server.tomcat.41"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.41"/>
      <image
         id="org.eclipse.jst.server.tomcat.50"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.50"/>
      <image
         id="org.eclipse.jst.server.tomcat.55"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.55"/>
      <image
         id="org.eclipse.jst.server.tomcat.60"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.60"/>
      <image
         id="org.eclipse.jst.server.tomcat.70"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.70"/>
      <image
         id="org.eclipse.jst.server.tomcat.80"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.80"/>
      <image
         id="org.eclipse.jst.server.tomcat.85"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.85"/>
      <image
         id="org.eclipse.jst.server.tomcat.90"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.90"/>
      <image
         id="org.eclipse.jst.server.tomcat.100"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.100"/>

      <image
         id="org.eclipse.jst.server.tomcat.32"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.32"/>
      <image
         id="org.eclipse.jst.server.tomcat.40"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.40"/>
      <image
         id="org.eclipse.jst.server.tomcat.41"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.41"/>
      <image
         id="org.eclipse.jst.server.tomcat.50"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.50"/>
      <image
         id="org.eclipse.jst.server.tomcat.55"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.55"/>
      <image
         id="org.eclipse.jst.server.tomcat.60"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.60"/>
      <image
         id="org.eclipse.jst.server.tomcat.70"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.70"/>
      <image
         id="org.eclipse.jst.server.tomcat.80"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.80"/>
      <image
         id="org.eclipse.jst.server.tomcat.85"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.85"/>
      <image
         id="org.eclipse.jst.server.tomcat.90"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.90"/>
      <image
         id="org.eclipse.jst.server.tomcat.100"
         icon="icons/obj16/tomcat.gif"
         typeIds="org.eclipse.jst.server.tomcat.100"/>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
      <propertyTester
         id="org.eclipse.jst.server.tomcat.ui.propertyTester"
         namespace="org.eclipse.jst.server.tomcat.ui"
         properties="hasConfiguration"
         type="java.lang.Object"
         class="org.eclipse.jst.server.tomcat.ui.internal.ConfigurationPropertyTester">
      </propertyTester>
   </extension>

   <extension point="org.eclipse.wst.server.ui.editorPages">
      <page
         id="org.eclipse.jst.server.tomcat.configuration.editor.webmodule"
         order="20"
         name="%configurationEditorWebModulesPage"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationWebModuleEditorPart">
         <enablement>
           <test property="org.eclipse.jst.server.tomcat.ui.hasConfiguration" value="true"/>
         </enablement>
      </page>
   </extension>

   <extension point="org.eclipse.wst.server.ui.editorPageSections">
      <section
         id="org.eclipse.jst.server.tomcat.server.editor.instance"
         order="0"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ServerLocationEditorSection"/>
      <section
         id="org.eclipse.jst.server.tomcat.server.editor.general"
         order="5"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ServerGeneralEditorSection"/>
      <section
         id="org.eclipse.jst.server.tomcat.configuration.editor.port"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationPortEditorSection">
         <enablement>
           <test property="org.eclipse.jst.server.tomcat.ui.hasConfiguration" value="true"/>
         </enablement>
      </section>
      <section
         id="org.eclipse.jst.server.tomcat.configuration.editor.mime"
         order="20"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationMimeEditorSection">
         <enablement>
           <test property="org.eclipse.jst.server.tomcat.ui.hasConfiguration" value="true"/>
         </enablement>
      </section>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.32"
         typeIds="org.eclipse.jst.server.tomcat.runtime.32"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.40"
         typeIds="org.eclipse.jst.server.tomcat.runtime.40"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.41"
         typeIds="org.eclipse.jst.server.tomcat.runtime.41"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.50"
         typeIds="org.eclipse.jst.server.tomcat.runtime.50"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.55"
         typeIds="org.eclipse.jst.server.tomcat.runtime.55"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.60"
         typeIds="org.eclipse.jst.server.tomcat.runtime.60"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.70"
         typeIds="org.eclipse.jst.server.tomcat.runtime.70"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.80"
         typeIds="org.eclipse.jst.server.tomcat.runtime.80"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.85"
         typeIds="org.eclipse.jst.server.tomcat.runtime.85"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.90"
         typeIds="org.eclipse.jst.server.tomcat.runtime.90"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.100"
         typeIds="org.eclipse.jst.server.tomcat.runtime.100"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
   </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="org.eclipse.jst.server.tomcat.ui.launchConfigurationTypeImage"
      configTypeID="org.eclipse.jst.server.tomcat.core.launchConfigurationType"
      icon="icons/obj16/tomcat.gif">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.eclipse.jst.server.tomcat.ui.launchConfigurationTabGroup"
      type="org.eclipse.jst.server.tomcat.core.launchConfigurationType"
      class="org.eclipse.jst.server.tomcat.ui.internal.TomcatLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.ui.images">
    <image runtime-component-type="org.eclipse.jst.server.tomcat"
      path="icons/obj16/tomcat.gif"/>
  </extension>

  <extension point="org.eclipse.wst.common.project.facet.core.runtimes">
    <adapter>
      <runtime-component id="org.eclipse.jst.server.tomcat"/>
      <factory class="org.eclipse.jst.server.ui.internal.RuntimeLabelProvider$Factory"/>
      <type class="org.eclipse.wst.common.project.facet.ui.IRuntimeComponentLabelProvider"/>
    </adapter>
  </extension>

  <extension point="org.eclipse.ui.popupMenus">
    <objectContribution
      adaptable="true"
      id="org.eclipse.jst.server.tomcat.ui.serveractions"
      objectClass="org.eclipse.wst.server.core.IServer">
      <visibility>
          <objectState name="serverType" value="org.eclipse.jst.server.tomcat.*"/>
      </visibility>
      <action 
        class="org.eclipse.jst.server.tomcat.ui.internal.actions.CleanWorkDirAction"
        enablesFor="1"
        id="org.eclipse.jst.server.tomcat.ui.cleanserverworkdir"
        label="%cleanTomcatWorkDir">
      </action>
    </objectContribution>
    <objectContribution
      adaptable="true"
      id="org.eclipse.jst.server.tomcat.ui.serveractions"
      objectClass="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
      <visibility>
        <and>
          <objectState name="serverType" value="org.eclipse.jst.server.tomcat.*"/>
          <objectState name="moduleType" value="jst.web"/>
        </and>
      </visibility>
      <action
        class="org.eclipse.jst.server.tomcat.ui.internal.actions.CleanWorkDirAction"
        enablesFor="1"
        id="org.eclipse.jst.server.tomcat.ui.cleanmoduleworkdir"
        label="%cleanTomcatModuleWorkDir">
      </action>
    </objectContribution>
  </extension>

  <extension point="org.eclipse.wst.server.core.publishers">
     <publisher
        id="org.eclipse.jst.server.tomcat.ui.context"
        typeIds="org.eclipse.jst.server.tomcat.*"
        name="%publisherContextFixLabel"
        description="%publisherContextFixDescription"
        order=""
        class="org.eclipse.jst.server.tomcat.ui.internal.ContextPublisherDelegate"/>
  </extension>
</plugin>