<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
   <extension point="org.eclipse.wst.server.ui.serverImages">
      <image
         id="org.eclipse.jst.server.tomcat.32"
         icon="icons/obj16/server_32.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.32"/>
      <image
         id="org.eclipse.jst.server.tomcat.40"
         icon="icons/obj16/server_40.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.40"/>
      <image
         id="org.eclipse.jst.server.tomcat.41"
         icon="icons/obj16/server_41.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.41"/>
      <image
         id="org.eclipse.jst.server.tomcat.50"
         icon="icons/obj16/server_50.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.50"/>
      <image
         id="org.eclipse.jst.server.tomcat.55"
         icon="icons/obj16/server_55.gif"
         typeIds="org.eclipse.jst.server.tomcat.runtime.55"/>

      <image
         id="org.eclipse.jst.server.tomcat.32"
         icon="icons/obj16/server_32.gif"
         typeIds="org.eclipse.jst.server.tomcat.32"/>
      <image
         id="org.eclipse.jst.server.tomcat.40"
         icon="icons/obj16/server_40.gif"
         typeIds="org.eclipse.jst.server.tomcat.40"/>
      <image
         id="org.eclipse.jst.server.tomcat.41"
         icon="icons/obj16/server_41.gif"
         typeIds="org.eclipse.jst.server.tomcat.41"/>
      <image
         id="org.eclipse.jst.server.tomcat.50"
         icon="icons/obj16/server_50.gif"
         typeIds="org.eclipse.jst.server.tomcat.50"/>
      <image
         id="org.eclipse.jst.server.tomcat.55"
         icon="icons/obj16/server_55.gif"
         typeIds="org.eclipse.jst.server.tomcat.55"/>
   </extension>

   <extension point="org.eclipse.wst.server.ui.editorPages">
      <page
         id="org.eclipse.jst.server.tomcat.configuration.editor.webmodule"
         order="20"
         name="%configurationEditorWebModulesPage"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationWebModuleEditorFactory"/>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.editorPageSections">
      <section
         id="org.eclipse.jst.server.tomcat.server.editor.general"
         order="0"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ServerGeneralEditorSectionFactory"/>
      <section
         id="org.eclipse.jst.server.tomcat.configuration.editor.port"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationPortEditorSectionFactory"/>
      <section
         id="org.eclipse.jst.server.tomcat.configuration.editor.mime"
         order="20"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationMimeEditorSectionFactory"/>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.32"
         typeIds="org.eclipse.jst.server.tomcat.runtime.32"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.40"
         typeIds="org.eclipse.jst.server.tomcat.runtime.40"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.41"
         typeIds="org.eclipse.jst.server.tomcat.runtime.41"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.50"
         typeIds="org.eclipse.jst.server.tomcat.runtime.50"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.runtime.55"
         typeIds="org.eclipse.jst.server.tomcat.runtime.55"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
   </extension>
   
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="org.eclipse.jst.server.tomcat.ui.launchConfigurationTypeImage"
      configTypeID="org.eclipse.jst.server.tomcat.core.launchConfigurationType"
      icon="icons/obj16/tomcat_tools.gif">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.eclipse.jst.server.tomcat.ui.launchConfigurationTabGroup"
      type="org.eclipse.jst.server.tomcat.core.launchConfigurationType"
      class="org.eclipse.jst.server.tomcat.ui.internal.TomcatLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>

</plugin>