<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin id="org.eclipse.jst.server.tomcat.ui"
   name="%pluginName"
   version="3.0.0"
   provider-name="%providerName"
   class="org.eclipse.jst.server.tomcat.ui.internal.TomcatUIPlugin">

   <runtime>
      <library name="tomcatui.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.core.runtime" />
      <import plugin="org.eclipse.core.resources" />
      <import plugin="org.eclipse.ui" />
      <import plugin="org.eclipse.ui.ide" />
      <import plugin="org.eclipse.ui.editors" />
      <import plugin="org.eclipse.ui.forms" />
      <import plugin="org.eclipse.debug.core" />
      <import plugin="org.eclipse.debug.ui" />
      <import plugin="org.eclipse.jdt.core" />
      <import plugin="org.eclipse.jdt.debug" />
      <import plugin="org.eclipse.jdt.debug.ui" />
      <import plugin="org.eclipse.jdt.launching" />
      <import plugin="org.eclipse.wst.server.core" />
      <import plugin="org.eclipse.wst.server.ui" />
      <import plugin="org.eclipse.jst.server.core" />
      <import plugin="org.eclipse.jst.server.ui" />
      <import plugin="org.eclipse.jst.server.tomcat.core" />
   </requires>

   <extension point="org.eclipse.wst.server.ui.serverImages">
      <image
         id="org.eclipse.jst.server.tomcat.32"
         icon="icons/obj16/server_32.gif"
         typeIds="org.eclipse.jst.server.tomcat.32.runtime"/>
      <image
         id="org.eclipse.jst.server.tomcat.40"
         icon="icons/obj16/server_40.gif"
         typeIds="org.eclipse.jst.server.tomcat.40.runtime"/>
      <image
         id="org.eclipse.jst.server.tomcat.41"
         icon="icons/obj16/server_41.gif"
         typeIds="org.eclipse.jst.server.tomcat.41.runtime"/>
      <image
         id="org.eclipse.jst.server.tomcat.50"
         icon="icons/obj16/server_50.gif"
         typeIds="org.eclipse.jst.server.tomcat.50.runtime"/>
      <image
         id="org.eclipse.jst.server.tomcat.55"
         icon="icons/obj16/server_55.gif"
         typeIds="org.eclipse.jst.server.tomcat.55.runtime"/>

      <image
         id="org.eclipse.jst.server.tomcat.32"
         icon="icons/obj16/server_32.gif"
         typeIds="org.eclipse.jst.server.tomcat.32"/>
      <image
         id="org.eclipse.jst.server.tomcat.40"
         icon="icons/obj16/server_40.gif"
         typeIds="org.eclipse.jst.server.tomcat.40"/>
      <image
         id="org.eclipse.jst.server.tomcat.41"
         icon="icons/obj16/server_41.gif"
         typeIds="org.eclipse.jst.server.tomcat.41"/>
      <image
         id="org.eclipse.jst.server.tomcat.50"
         icon="icons/obj16/server_50.gif"
         typeIds="org.eclipse.jst.server.tomcat.50"/>
      <image
         id="org.eclipse.jst.server.tomcat.55"
         icon="icons/obj16/server_55.gif"
         typeIds="org.eclipse.jst.server.tomcat.55"/>
   </extension>

   <extension point="org.eclipse.wst.server.ui.editorPages">
      <page
         id="org.eclipse.jst.server.tomcat.configuration.editor.webmodule"
         order="20"
         name="%configurationEditorWebModulesPage"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationWebModuleEditorFactory"/>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.editorPageSections">
      <section
         id="org.eclipse.jst.server.tomcat.server.editor.general"
         order="0"
         insertionId="org.eclipse.wst.server.editor.overview.left"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ServerGeneralEditorSectionFactory"/>
      <section
         id="org.eclipse.jst.server.tomcat.configuration.editor.port"
         order="10"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationPortEditorSectionFactory"/>
      <section
         id="org.eclipse.jst.server.tomcat.configuration.editor.mime"
         order="20"
         insertionId="org.eclipse.wst.server.editor.overview.right"
         typeIds="org.eclipse.jst.server.tomcat.*"
         class="org.eclipse.jst.server.tomcat.ui.internal.editor.ConfigurationMimeEditorSectionFactory"/>
   </extension>
   
   <extension point="org.eclipse.wst.server.ui.wizardFragments">
      <fragment
         id="org.eclipse.jst.server.tomcat.32.runtime"
         typeIds="org.eclipse.jst.server.tomcat.32.runtime"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.40.runtime"
         typeIds="org.eclipse.jst.server.tomcat.40.runtime"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.41.runtime"
         typeIds="org.eclipse.jst.server.tomcat.41.runtime"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.50.runtime"
         typeIds="org.eclipse.jst.server.tomcat.50.runtime"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
      <fragment
         id="org.eclipse.jst.server.tomcat.55.runtime"
         typeIds="org.eclipse.jst.server.tomcat.55.runtime"
         class="org.eclipse.jst.server.tomcat.ui.internal.TomcatRuntimeWizardFragment"/>
   </extension>
   
  <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
    <launchConfigurationTypeImage
      id="org.eclipse.jst.server.tomcat.ui.launchConfigurationTypeImage"
      configTypeID="org.eclipse.jst.server.tomcat.core.launchConfigurationType"
      icon="icons/obj16/tomcat_tools.gif">
    </launchConfigurationTypeImage>
  </extension>

  <extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
      id="org.eclipse.jst.server.tomcat.ui.launchConfigurationTabGroup"
      type="org.eclipse.jst.server.tomcat.core.launchConfigurationType"
      class="org.eclipse.jst.server.tomcat.ui.internal.TomcatLaunchConfigurationTabGroup">
    </launchConfigurationTabGroup>
  </extension>

</plugin>