<?xml version="1.0" encoding="UTF-8" ?>
<?eclipse version="3.0"?>
<?NLS TYPE="org.eclipse.help.toc"?> 

<!-- ================================================= -->
<!-- This is the plugin for declaring the help         -->
<!-- contributions for the Server Tools component      -->
<!-- ================================================= -->

<plugin>

<extension point="org.eclipse.help.toc">
	<toc file="tomcat_create.xml" />
	<toc file="tomcat_pref.xml" />       
</extension>

</plugin>

