<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin id="org.eclipse.jst.server.ui"
  name="%pluginName"
  version="3.0.0"
  provider-name="%providerName"
  class="org.eclipse.jst.server.internal.ui.JavaServerUIPlugin">

<requires>
  <import plugin="org.eclipse.core.runtime"/>
  <import plugin="org.eclipse.core.resources"/>
  <import plugin="org.eclipse.ui"/>
  <import plugin="org.eclipse.ui.ide"/>
  <import plugin="org.eclipse.ui.views"/>
  <import plugin="org.eclipse.ui.editors"/>
  <import plugin="org.eclipse.jdt.core"/>
  <import plugin="org.eclipse.jdt.launching"/>
  <import plugin="org.eclipse.wst.server.core"/>
  <import plugin="org.eclipse.wst.server.ui"/>
  <import plugin="org.eclipse.jst.server.core"/>
</requires>

  <runtime>
    <library name="sjavaui.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.wst.server.ui.serverImages">
     <image
        id="org.eclipse.jst.server"
        typeIds="org.eclipse.jst.server.core.runtimeType"
        icon="icons/obj16/java_jar.gif"/>
     <image
        id="org.eclipse.jst.server"
        typeIds="j2ee.web"
        icon="icons/obj16/web_module.gif"/>
     <image
        id="org.eclipse.jst.server"
        typeIds="j2ee.ejb"
        icon="icons/obj16/ejb_module.gif"/>
     <image
        id="org.eclipse.jst.server"
        typeIds="j2ee.ear"
        icon="icons/obj16/ear.gif"/>
     <image
        id="org.eclipse.jst.server"
        typeIds="j2ee.appclient"
        icon="icons/obj16/appclient_module.gif"/>
     <image
        id="org.eclipse.jst.server"
        typeIds="j2ee.connector"
        icon="icons/obj16/java_jar.gif"/>
     <image
        id="org.eclipse.jst.server"
        typeIds="j2ee.loosearchive"
        icon="icons/obj16/java_jar.gif"/>
  </extension>

  <extension point="org.eclipse.wst.server.ui.wizardFragments">
     <fragment
        id="org.eclipse.jst.server.core.runtimeType"
        typeIds="org.eclipse.jst.server.core.runtimeType"
        class="org.eclipse.jst.server.internal.ui.GenericRuntimeWizardFragment"/>
  </extension>

</plugin>