<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>
  <extension-point id="editorPages" name="%extensionPointEditorPages" schema="schema/editorPages.exsd"/>
  <extension-point id="editorPageSections" name="%extensionPointEditorPageSections" schema="schema/editorPageSections.exsd"/>
  <extension-point id="editorActions" name="%extensionPointEditorActions" schema="schema/editorActions.exsd"/>
  <extension-point id="serverImages" name="%extensionPointServerImages" schema="schema/serverImages.exsd"/>
  <extension-point id="wizardFragments" name="%extensionPointWizardFragments" schema="schema/wizardFragments.exsd"/>
  <extension-point id="initialSelectionProvider" name="%extensionPointInitialSelectionProvider" schema="schema/initialSelectionProvider.exsd"/>
  <extension-point id="audio" name="%extensionPointAudio" schema="schema/audio.exsd"/>
  <extension-point id="serverToolTip" name="%extensionPointServerToolTip" schema="schema/serverToolTip.exsd"/>
  <extension-point id="serverCreationWizardPageExtension" name="%extensionPointServerCreationWizardPageExtension" schema="schema/serverCreationWizardPageExtension.exsd"/>
  <extension-point id="serverEditorOverviewPageModifier" name="%extensionPointServerEditorOverviewPageExtension" schema="schema/serverEditorOverviewPageModifier.exsd"/>
  <extension-point id="serverLabelProvider" name="%serverLabelProvider" schema="schema/serverLabelProvider.exsd"/>
  <extension-point id="deleteServerDialogExtension" name="%deleteServerDialogExtension" schema="schema/deleteServerDialogExtension.exsd"/>

<extension point="org.eclipse.ui.newWizards">
  <category
    id="org.eclipse.wst.server.ui"
    name="%category"/>

  <wizard
      id="org.eclipse.wst.server.ui.new.server"
      name="%newServer"
      class="org.eclipse.wst.server.ui.internal.wizard.NewServerWizard"
      category="org.eclipse.wst.server.ui"
      icon="icons/ctool16/wiz_new_server.gif">
    <description>%newServerDescription</description>
  </wizard>
</extension>

<extension point="org.eclipse.ui.views"> 
  <category
    id="org.eclipse.wst.server.ui"
    name="%category"/>


  <view
        allowMultiple="false"
        category="org.eclipse.wst.server.ui"
        class="org.eclipse.wst.server.ui.internal.cnf.ServersView2"
        icon="icons/cview16/servers_view.gif"
        id="org.eclipse.wst.server.ui.ServersView"
        name="%viewServers">
  </view>
</extension>
<extension
      point="org.eclipse.ui.navigator.navigatorContent">
   <navigatorContent
         activeByDefault="true"
         contentProvider="org.eclipse.wst.server.ui.internal.cnf.ServerContentProvider"
         icon="icons/cview16/servers_view.gif"
         id="org.eclipse.wst.server.ui.ServersView.content.root"
         labelProvider="org.eclipse.wst.server.ui.internal.cnf.ServerLabelProvider"
         name="%defaultProvider"
         priority="highest">
      <triggerPoints>
         <or>
            <instanceof
                  value="org.eclipse.wst.server.core.IServer">
            </instanceof>
            <instanceof
                  value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
            </instanceof>
         </or>
      </triggerPoints>
      <possibleChildren>
         <or>
            <instanceof
                  value="java.lang.Object">
            </instanceof>
            <instanceof
                  value="org.eclipse.wst.server.core.IServer">
            </instanceof>
            <instanceof
                  value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
            </instanceof>
         </or>
      </possibleChildren>
	  <actionProvider
	            class="org.eclipse.wst.server.ui.internal.cnf.ServerActionProvider"
	            id="org.eclipse.wst.server.ui.ServersView.ServerActionProvider"
	            priority="highest">
			<enablement>
             <or>
                <instanceof
                      value="org.eclipse.wst.server.core.IServer">
                </instanceof>
                <instanceof
                      value="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
                </instanceof>
                <instanceof
                      value="org.eclipse.core.resources.IWorkspaceRoot">
                </instanceof>
               <adapt
                     type="java.util.Collection">
                  <count
                        value="0">
                  </count>
               </adapt>
             </or>
            </enablement>
	  </actionProvider>      
      <dropAssistant
             class="org.eclipse.wst.server.ui.internal.cnf.ServersViewDropAdapterAssistant"
             id="org.eclipse.wst.server.ui.ServersView.DropAssistant">
          <possibleDropTargets>
             <or>
                <instanceof
                      value="java.lang.Object">
                </instanceof>
             </or>
          </possibleDropTargets>
       </dropAssistant>
   </navigatorContent>
</extension>

<extension
      point="org.eclipse.ui.navigator.viewer">
   <viewerContentBinding
         viewerId="org.eclipse.wst.server.ui.ServersView">
      <includes>
         <contentExtension
               isRoot="true"
               pattern="org.eclipse.wst.server.ui.ServersView.content.root">
         </contentExtension>
      </includes>
   </viewerContentBinding>
	<viewer
       helpContext="org.eclipse.wst.server.ui.svcp0000"
       viewerId="org.eclipse.wst.server.ui.ServersView">
		<options>
			<property name="org.eclipse.ui.navigator.hideLinkWithEditorAction"
				value="true">
			</property>
		</options>
	</viewer>
</extension>

<extension point="org.eclipse.ui.perspectiveExtensions">
  <perspectiveExtension
    targetID="org.eclipse.debug.ui.DebugPerspective">
    <view
      relative="org.eclipse.debug.ui.DebugView"
      relationship="stack"
      id="org.eclipse.wst.server.ui.ServersView">
    </view>
  </perspectiveExtension>
</extension>

<extension point="org.eclipse.ui.preferencePages">
  <page
    id="org.eclipse.wst.server.ui.preferencePage"
    name="%preferenceServersTitle"
    class="org.eclipse.wst.server.ui.internal.ServerPreferencePage">
      <keywordReference id="org.eclipse.wst.server.preferenceKeywords"/>
  </page>
  <page
    id="org.eclipse.wst.server.ui.launching.preferencePage"
    name="%preferenceLaunchingTitle"
    category="org.eclipse.wst.server.ui.preferencePage"
    class="org.eclipse.wst.server.ui.internal.LaunchingPreferencePage">
      <keywordReference id="org.eclipse.wst.server.preferenceKeywords"/>
  </page>
  <page
    id="org.eclipse.wst.server.ui.runtime.preferencePage"
    name="%preferenceRuntimesTitle"
    category="org.eclipse.wst.server.ui.preferencePage"
    class="org.eclipse.wst.server.ui.internal.RuntimePreferencePage">
      <keywordReference id="org.eclipse.wst.server.preferenceKeywords"/>
  </page>
  <page
    id="org.eclipse.wst.audio.preferencePage"
    category="org.eclipse.wst.server.ui.preferencePage"
    name="%audioPreferenceTitle"
    class="org.eclipse.wst.server.ui.internal.audio.AudioPreferencePage">
      <keywordReference id="org.eclipse.wst.server.audio.preferenceKeywords"/>
  </page>
</extension>

<extension point="org.eclipse.ui.keywords">
  <keyword
    label="%preferenceServerKeywords"
    id="org.eclipse.wst.server.preferenceKeywords"/>
  <keyword
    label="%preferenceAudioKeywords"
    id="org.eclipse.wst.server.audio.preferenceKeywords"/>
</extension>

<extension point="org.eclipse.ui.editors">
  <editor id="org.eclipse.wst.server.ui.editor"
    name="%serverEditor"
    icon="icons/obj16/server.gif"
    extensions="server"
    class="org.eclipse.wst.server.ui.internal.editor.ServerEditor"
    contributorClass="org.eclipse.wst.server.ui.internal.editor.ServerEditorActionBarContributor"/>
</extension>

<extension point="org.eclipse.ui.elementFactories">
  <factory id="org.eclipse.wst.server.ui.editor.input.factory"
    class="org.eclipse.wst.server.ui.internal.editor.ServerEditorInputFactory"/>
</extension>

<extension point="org.eclipse.ui.propertyPages">
  <page
    id="org.eclipse.wst.server.ui.project.properties"
    name="%propertiesServer"
    class="org.eclipse.wst.server.ui.internal.ProjectPropertyPage">
     <enabledWhen>
       <and>
         <adapt type="org.eclipse.core.resources.IProject"/>
         <test property="org.eclipse.wst.server.ui.isRunnable" value="true"/>
       </and>
     </enabledWhen>
  </page>
  <page
    id="org.eclipse.wst.server.ui.properties"
    name="%propertiesServerInfo"
    class="org.eclipse.wst.server.ui.internal.ServerPropertyPage">
     <enabledWhen>
       <and>
         <adapt type="org.eclipse.wst.server.core.IServer"/>
       </and>
     </enabledWhen>
  </page>
  <page
    id="org.eclipse.wst.server.ui.properties.monitor"
    name="%propertiesMonitor"
    class="org.eclipse.wst.server.ui.internal.view.servers.MonitorPropertyPage">
     <enabledWhen>
       <and>
         <adapt type="org.eclipse.wst.server.core.IServer"/>
       </and>
     </enabledWhen>
  </page>
</extension>

<extension point="org.eclipse.ui.actionSets">
  <actionSet
    id="org.eclipse.wst.server.ui.new.actionSet"
    label="%actionSetTitle"
    visible="false">
    <action
      id="org.eclipse.wst.server.ui.action.new.server"
      toolbarPath="servers"
      label="%actionSetNewServer"
      tooltip="%actionSetNewServer"
      icon="icons/ctool16/wiz_new_server.gif"
      class="org.eclipse.wst.server.ui.internal.actions.NewServerAction"/>
  </actionSet>
</extension>

<extension point="org.eclipse.debug.ui.launchShortcuts">
   <shortcut
         id="org.eclipse.wst.server.launchShortcut"
         label="%actionRunOnServer"
         description="%actionRunOnServerDescription"
         modes="run, debug, profile"
         path="aa"
         icon="icons/etool16/run_on_server.gif"
         class="org.eclipse.wst.server.ui.internal.ServerLaunchShortcut">
      <contextualLaunch>
        <enablement>
           <with variable="selection">
             <count value="1"/>
             <iterate>
                <test property="org.eclipse.wst.server.ui.isRunnable" value="true"/>
             </iterate>
           </with>
         </enablement>
        <contextLabel
           mode="run"
           label="%actionRunOnServer"/>
        <contextLabel
           mode="debug"
           label="%actionDebugOnServer"/>
        <contextLabel
           mode="profile"
           label="%actionProfileOnServer"/>
      </contextualLaunch>
      <configurationType
           id="org.eclipse.wst.server.ui.launchConfigurationType">
      </configurationType>
   </shortcut>
</extension>

<extension point="org.eclipse.core.expressions.propertyTesters">
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="isRunnable"
      type="java.lang.Object"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="serverType"
      type="org.eclipse.wst.server.core.IServer"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="serverType"
      type="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="moduleType"
      type="org.eclipse.wst.server.core.IModule"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="moduleType"
      type="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="moduleVersion"
      type="org.eclipse.wst.server.core.IModule"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
   <propertyTester
      id="org.eclipse.wst.server.ui.propertyTester"
      namespace="org.eclipse.wst.server.ui"
      properties="moduleVersion"
      type="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer"
      class="org.eclipse.wst.server.ui.internal.ServerPropertyTester">
   </propertyTester>
</extension>

  <extension point="org.eclipse.wst.server.ui.editorPages">
    <page
      id="org.eclipse.wst.server.editor.overview"
      order="-10000"
      name="%serverEditorOverviewPage"
      typeIds="*"
      insertionIds="org.eclipse.wst.server.editor.overview.left, org.eclipse.wst.server.editor.overview.right"
      class="org.eclipse.wst.server.ui.internal.editor.OverviewEditorPart"/>
  </extension>

  <extension point="org.eclipse.core.runtime.adapters">
    <factory
      class="org.eclipse.wst.server.ui.internal.ServerAdapterFactory"
      adaptableType="org.eclipse.wst.server.core.IServer">
      <adapter type="org.eclipse.ui.IActionFilter"/>
    </factory>
    <factory
      class="org.eclipse.wst.server.ui.internal.ServerAdapterFactory"
      adaptableType="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
      <adapter type="org.eclipse.ui.IActionFilter"/>
    </factory>
    <factory
      adaptableType="org.eclipse.wst.server.core.IServer"
      class="org.eclipse.wst.server.ui.internal.ServerAdapterFactory">
      <adapter type="org.eclipse.ui.model.IWorkbenchAdapter"/>
    </factory>
  </extension>

<extension point="org.eclipse.wst.server.core.clients">
  <client
    id="org.eclipse.wst.server.ui.web"
    name="%launchableWebBrowser"
    description="%launchableWebBrowserDescription"
    launchable="org.eclipse.wst.server.core.util.HttpLaunchable"
    class="org.eclipse.wst.server.ui.internal.WebLaunchableClient"/>
</extension>

<extension point="org.eclipse.wst.server.core.internalStartup">
  <startup
    id="org.eclipse.wst.server.ui.startup"
    class="org.eclipse.wst.server.ui.internal.Startup"/>
</extension>

<extension point="org.eclipse.wst.server.ui.audio">
  <category id="org.eclipse.wst.server.sound.server"
    name="%audioCategoryServer"/>
  <sound id="org.eclipse.wst.server.sound.serverStart"
    category="org.eclipse.wst.server.sound.server"
    name="%audioServerStarted"/>
  <sound id="org.eclipse.wst.server.sound.serverStop"
    category="org.eclipse.wst.server.sound.server"
    name="%audioServerStopped"/>
  <category id="org.eclipse.wst.server.sound.publish"
    name="%audioCategoryPublish"/>
  <sound id="org.eclipse.wst.server.sound.publishFinished"
    category="org.eclipse.wst.server.sound.publish"
    name="%audioPublishFinished"/>
</extension>

<extension point="org.eclipse.wst.server.core.internalServerMonitors">
  <monitor
    id="org.eclipse.wst.server.ui.monitor"
    name="%monitorLabel"
    description="%monitorDescription"
    class="org.eclipse.wst.server.ui.internal.DefaultMonitorDelegate"/>
</extension>

<extension point="org.eclipse.ui.actionSets">
  <actionSet
    id="org.eclipse.wst.server.ui.internal.webbrowser.actionSet"
    label="%actionSetWebBrowserTitle"
    visible="false">
    <action
      id="org.eclipse.wst.server.ui.internal.webbrowser.action.open"
      toolbarPath="browser"
      label="%actionSetOpenWebBrowser"
      tooltip="%actionSetOpenWebBrowser"
      icon="icons/obj16/internal_browser.gif"
      class="org.eclipse.wst.server.ui.internal.webbrowser.OpenBrowserWorkbenchAction"/>
    <action
      id="org.eclipse.wst.server.ui.internal.webbrowser.action.switch"
      menubarPath="window/browser"
      label="%actionSetSwitchBrowser"
      tooltip="%actionSetSwitchBrowser"
      style="pulldown"
      class="org.eclipse.wst.server.ui.internal.webbrowser.SwitchBrowserWorkbenchAction"/>
  </actionSet>
</extension>

<!--
<extension point="org.eclipse.debug.ui.launchGroups">
  <launchGroup
     label="%ExternalToolsLaunchGroup.label"
     bannerImage="icons/full/wizban/ext_tools_wiz.gif"
     category="org.eclipse.ui.externaltools"
     image="icons/full/obj16/external_tools.gif"
     mode="run"
     id="org.eclipse.ui.externaltools.launchGroup"
     title="%ExternalToolsLaunchGroup.title">
  </launchGroup>
  <launchGroup
     label="%ExternalToolsLaunchGroup.label"
     bannerImage="icons/full/wizban/ext_tools_wiz.gif"
     category="org.eclipse.ui.externaltools.builder"
     image="icons/full/obj16/external_tools.gif"
     public="false"
     mode="run"
     id="org.eclipse.ui.externaltools.launchGroup.builder">
   </launchGroup>
</extension>
-->

<extension point="org.eclipse.ui.commands">
  <category
    id="org.eclipse.wst.server.ui"
    name="%category"
    description="%category"/>
  <command
    id="org.eclipse.wst.server.launchShortcut.run"
    name="%actionRunOnServer"
    description="%actionRunOnServerDescription"
    categoryId="org.eclipse.debug.ui.category.run"/>
  <command
    id="org.eclipse.wst.server.launchShortcut.debug"
    name="%actionDebugOnServer"
    description="%actionDebugOnServerDescription"
    categoryId="org.eclipse.debug.ui.category.run"/>
  <command
    id="org.eclipse.wst.server.run"
    name="%actionRun"
    description="%actionRunDescription"
    categoryId="org.eclipse.wst.server.ui"
    defaultHandler="org.eclipse.wst.server.ui.internal.view.servers.ServerActionHandler"/>
  <command
    id="org.eclipse.wst.server.debug"
    name="%actionDebug"
    description="%actionDebugDescription"
    categoryId="org.eclipse.wst.server.ui"
    defaultHandler="org.eclipse.wst.server.ui.internal.view.servers.ServerActionHandler"/>
  <command
    id="org.eclipse.wst.server.stop"
    name="%actionStop"
    description="%actionStopDescription"
    categoryId="org.eclipse.wst.server.ui"
    defaultHandler="org.eclipse.wst.server.ui.internal.view.servers.ServerActionHandler"/>
  <command
    id="org.eclipse.wst.server.publish"
    name="%actionPublish"
    description="%actionPublishDescription"
    categoryId="org.eclipse.wst.server.ui"
    defaultHandler="org.eclipse.wst.server.ui.internal.view.servers.ServerActionHandler"/>
</extension>

<extension point="org.eclipse.ui.contexts">
  <context
    id="org.eclipse.ui.serverViewScope"
    name="%context"
    description="%context"
    parentId="org.eclipse.ui.contexts.window">
  </context>
</extension>

<!-- commands and their bindings
NOTE:
M1 = CTRL/COMMAND
M2 = SHIFT
M3 = ALT
M4 = Platform-specific fourth key
-->
<extension point="org.eclipse.ui.bindings">
  <key
    sequence="M3+M2+X R"
    contextId="org.eclipse.ui.globalScope"
    commandId="org.eclipse.wst.server.launchShortcut.run"
    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  <key
    sequence="M3+M2+D R"
    contextId="org.eclipse.ui.globalScope"
    commandId="org.eclipse.wst.server.launchShortcut.debug"
    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  <key
    sequence="M1+M3+R"
    contextId="org.eclipse.ui.serverViewScope"
    commandId="org.eclipse.wst.server.run"
    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  <key
    sequence="M1+M3+D"
    contextId="org.eclipse.ui.serverViewScope"
    commandId="org.eclipse.wst.server.debug"
    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  <key
    sequence="M1+M3+S"
    contextId="org.eclipse.ui.serverViewScope"
    commandId="org.eclipse.wst.server.stop"
    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
  <key
    sequence="M1+M3+P"
    contextId="org.eclipse.ui.serverViewScope"
    commandId="org.eclipse.wst.server.publish"
    schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
</extension>

<extension point="org.eclipse.wst.server.ui.serverImages">
  <image
     id="org.eclipse.wst.server.ui.web"
     typeIds="wst.web"
     icon="icons/obj16/web_module.gif"/>
</extension>

<extension point="org.eclipse.ui.ide.markerResolution">
  <markerResolutionGenerator
     class="org.eclipse.wst.server.ui.internal.MarkerResolutionGenerator"
     markerType="org.eclipse.wst.common.project.facet.core.validation.marker"/>
</extension>

<extension point="org.eclipse.ui.decorators">
  <decorator
     adaptable="true"
     class="org.eclipse.wst.server.ui.internal.ModuleLabelDecorator"
     id="org.eclipse.wst.server.ui.decorator"
     label="%moduleProjectDecoratorLabel"
     lightweight="false"
     state="false">
    <description>%moduleProjectDecoratorDescription</description>
    <enablement>
      <or>
        <objectClass name="org.eclipse.wst.server.core.IModule"/>
        <objectClass name="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer"/>
      </or>
    </enablement>
  </decorator>
</extension>

<extension point="org.eclipse.debug.core.launchConfigurationTypes">
  <launchConfigurationType
    id="org.eclipse.wst.server.ui.launchConfigurationType"
    delegate="org.eclipse.wst.server.ui.internal.actions.RunOnServerLaunchConfigurationDelegate"
    delegateName="%launchConfigurationDelegateName"
    delegateDescription="%launchConfigurationDelegateDescription"
    public="false"
    modes="run,debug,profile"
    name="%runOnServerLaunchConfiguration"/>
</extension>

<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
  <launchConfigurationTypeImage
    id="org.eclipse.wst.server.ui.launchConfigurationTypeImage"
    configTypeID="org.eclipse.wst.server.ui.launchConfigurationType"
    icon="icons/etool16/run_on_server.gif">
  </launchConfigurationTypeImage>
</extension>

<extension point="org.eclipse.wst.server.ui.serverToolTip">
  <serverToolTip
    id="org.eclipse.wst.server.ui.GeneralToolTip"
    class="org.eclipse.wst.server.ui.internal.GeneralToolTip"
    serverTypes="*"/>
</extension>

<extension point="org.eclipse.wst.server.core.launchableAdapters">
  <launchableAdapter
        class="org.eclipse.wst.server.ui.internal.ServerUIPlugin$DefaultLaunchableAdapter"
        id="org.eclipse.wst.server.ui.launchable.adapter.default"
        priority="-999999"/>
</extension>
<extension
      point="org.eclipse.ui.decorators">
   <decorator
         class="org.eclipse.wst.server.ui.internal.cnf.ServerDecorator"
         icon="icons/obj16/server.gif"
         id="org.eclipse.wst.server.ui.navigatorDecorator"
         label="%serverStateDecoratorLabel"
         lightweight="true"
         location="BOTTOM_RIGHT"
         state="true">
      <enablement>
         <or>
            <objectClass
                  name="org.eclipse.wst.server.core.IServer">
            </objectClass>
            <objectClass
                  name="org.eclipse.wst.server.ui.internal.view.servers.ModuleServer">
            </objectClass>
         </or>
      </enablement>
   </decorator>
</extension>
<extension
      point="org.eclipse.wst.server.core.saveEditorPrompter">
   <saveEditorPrompter
         class="org.eclipse.wst.server.ui.internal.SaveEditorPrompter"
         id="org.eclipse.wst.server.ui.saveEditorPrompter1">
   </saveEditorPrompter>
</extension>
</plugin>
