<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin
   id="org.eclipse.jst.server.generic.tests"
   name="Generic Server Tests Plug-in"
   version="1.0.0"
   provider-name="Eteration.com"
   class="org.eclipse.jst.server.generic.tests.TestsPlugin">

   <runtime>
      <library name="genericServerTests.jar">
         <export name="*"/>
      </library>
   </runtime>

   <requires>
      <import plugin="org.eclipse.ui"/>
      <import plugin="org.eclipse.core.runtime"/>
      <import plugin="org.eclipse.jst.server.generic.core"/>
      <import plugin="org.eclipse.jst.server.generic.modules"/>
      <import plugin="org.eclipse.jst.server.generic.ui"/>
      <import plugin="org.junit"/>
      <import plugin="org.eclipse.core.resources"/>
      <import plugin="org.eclipse.jdt.core"/>
      <import plugin="org.eclipse.jdt.launching"/>
      <import plugin="org.eclipse.wst.server.core"/>
      <import plugin="org.eclipse.debug.core"/>
   </requires>

</plugin>
