<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

<extension-point name="%extensionPointProtocolAdapters" id="internalProtocolAdapters" schema="schema/protocolAdapters.exsd"/>
<extension-point name="%extensionPointContentFilters" id="internalContentFilters" schema="schema/internalContentFilters.exsd"/>
<extension-point name="%extensionPointStartup" id="internalStartup" schema="schema/startup.exsd"/>

<extension point="org.eclipse.wst.internet.monitor.core.internalProtocolAdapters">
  <protocolAdapter
    id="TCP/IP"
    class="org.eclipse.wst.internet.monitor.core.internal.TCPIPProtocolAdapter"
    name="%TCPIP"/>
  <protocolAdapter
    id="HTTP"
    class="org.eclipse.wst.internet.monitor.core.internal.http.HTTPProtocolAdapter"
    name="%HTTP"/>
  <protocolAdapter
    id="HTTPS"
    class="org.eclipse.wst.internet.monitor.core.internal.http.HTTPSProtocolAdapter"
    name="%HTTPS"/>
</extension>

</plugin>