<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin id="org.eclipse.jst.server.core"
  name="%pluginName"
  version="3.0.0"
  provider-name="%providerName"
  class="org.eclipse.jst.server.core.internal.JavaServerPlugin">

  <requires>
    <import plugin="org.eclipse.core.resources" />
    <import plugin="org.eclipse.debug.core" />
    <import plugin="org.eclipse.wst.server.core" />
    <import plugin="org.eclipse.jdt.core" />
    <import plugin="org.eclipse.jdt.launching" />
    <import plugin="org.eclipse.core.runtime"/>
  </requires>

  <runtime>
    <library name="sjavacore.jar">
      <export name="*"/>
    </library>
  </runtime>

  <extension point="org.eclipse.jdt.core.classpathContainerInitializer">
    <classpathContainerInitializer
      id="org.eclipse.jst.server.core.container"
      class="org.eclipse.jst.server.core.internal.RuntimeClasspathContainerInitializer"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.moduleTypes">
    <moduleType
       id="j2ee.web"
       name="%moduleTypeJ2EEWebName"/>
    <moduleType
       id="j2ee.ejb"
       name="%moduleTypeJ2EEEJBName"/>
    <moduleType
       id="j2ee.ear"
       name="%moduleTypeJ2EEEARName"/>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeTypes">
    <runtimeType
       id="org.eclipse.jst.server.core.runtimeType"
       name="%runtimeTypeName"
       description="%runtimeTypeDescription"
       class="org.eclipse.jst.server.core.internal.GenericRuntime">
       <moduleType
         types="j2ee"
         versions="*"/>
       <moduleType
         types="utility"
         versions="*"/>
    </runtimeType>
  </extension>

  <extension point="org.eclipse.wst.server.core.runtimeTargetHandlers">
    <runtimeTargetHandler
      id="org.eclipse.jst.server.core.runtimeTarget"
      runtimeTypeIds="org.eclipse.jst.server.core.runtimeType"
      class="org.eclipse.jst.server.core.internal.GenericRuntimeTargetHandler"/>
  </extension>

</plugin>